Databases/backups/realdata.db
Databases/backups/skill_convertation_rules.db
Game/build-*

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
*.qmlc
*.jsc
Makefile*
*.exe
*.qmake.stash
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator local machine specific files for imported projects
*creator.user*